body{
    margin: 1%;
    padding: 0;
    background: rgb(3, 0, 27);
    font-family: monospace;
}

/* homepage (index.html) */
/* Navbar */
nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
    padding: 15px;
    background: linear-gradient(90deg, rgb(0, 2, 67), rgb(0, 9, 108), rgb(0, 2, 67));
    border-radius: 8px;
    border: 2px dashed rgba(255, 255, 255, 0.532);
}

nav a{
    text-decoration: none;
    font-family: monospace;
    font-weight: bold;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.792);
    transition: color 0.3s ease, scale 0.3s ease;
}

nav a:hover{
    color: rgb(255, 165, 0);
    scale: 1.5;
}

/* Main content */

.homepage_main_cnt{
    height: fit-content;
    margin-top: 10px;
    width: 97.7%;
    border-radius: 8px;
    border: 2px solid rgba(255, 255, 255, 0.532);
    padding: 1%;
}

.homepage_brand{
    width: 100%;
    color: white;
    text-align: center;
    color: orange;
    text-shadow: 0 0 5px orange, 0 0 10px orange, 0 0 20px orange;
    font-weight: 300;
    font-size: 20px;
    justify-items: center;
}

.homepage_brand p{
    width: 70%;
    text-align: center;
}

.lightspeed_cnt{
    color: white;
    width: 99.7%;
    animation: flicker-border 3s infinite;
    border-radius: 8px;
}

.lightspeed_cnt h1{
    padding-bottom: 1%;
    padding-left: 2%;
    font-size: 40px;
    animation: flicker 3s infinite;
    font-family: 'Jersey 20';
    border-bottom: 2px dashed rgba(255, 255, 255, 0.532);
    animation: flicker-border-bottom 3s infinite, flicker 3s infinite;
}

.lightspeed_cnt p{
    font-size: 18px;
    animation: flicker 3s infinite;
    font-family: monospace;
    color: #00faff;
}

@keyframes flicker-border {
    0%, 85%, 100% {
        border: 2px dashed rgba(255, 255, 255, 0.532);
        box-shadow: none;
        opacity: 1;
    }
    86%, 88% {
        border: 2px dashed #00faff;
        box-shadow: 0 0 5px #00faff;
        opacity: 0.9;
    }
    89%, 90% {
        border: 2px dashed rgba(255, 255, 255, 0.532);
        box-shadow: none;
        opacity: 0.8;
    }
    91%, 94% {
        border: 2px dashed #00faff;
        box-shadow: 0 0 5px #00faff;
        opacity: 1;
    }
}

@keyframes flicker-border-bottom {
    0%, 85%, 100% {
        border-bottom: 2px dashed rgba(255, 255, 255, 0.532);
        opacity: 1;
    }
    86%, 88% {
        border-bottom: 2px dashed #00faff;
        opacity: 0.9;
    }
    89%, 90% {
        border-bottom: 2px dashed rgba(255, 255, 255, 0.532);
        opacity: 0.8;
    }
    91%, 94% {
        border-bottom: 2px dashed #00faff;
        opacity: 1;
    }
}

@keyframes flicker {
    0%, 85%, 100% {
        text-shadow: none;
        opacity: 1;
    }
    86%, 88% {
        text-shadow: 0 0 8px #fff, 0 0 16px #00faff, 0 0 24px #00faff;
        opacity: 0.9;
    }
    89%, 90% {
        text-shadow: none;
        opacity: 0.8;
    }
    91%, 94% {
        text-shadow: 0 0 10px #fff, 0 0 20px #00faff, 0 0 30px #00faff;
        opacity: 1;
    }
}

.lightspeed_shop_cnt{
    width: 98%;
    padding: 1%;
    display: flex;
    flex-direction: column;
}

.lightspeed_shop_row_cnt{
    width: 100%;
    display: flex; 
    flex-direction: row;
}

.lightspeed_shop_item{
    display: flex;
    flex-direction: column;
    padding: 10px;
    background: rgba(255, 255, 255, 0.283);
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.518);
}

.lightspeed_shop_item img{
    width: 200px;
}

.lightspeed_shop_item p{
    color: white;
    animation: none;
    max-width: 200px;
}

.lightspeed_shop_item_down{
    display: flex;
    flex-direction: row;
    background: red;
}

.lightspeed_shop_item_down p{
    color: white;
    animation: none;
    font-size: 15px;
    font-family: Calibri;
}
